#dark-mode,
#light-mode {
  text-align: right;
  padding-right: 120px;
  cursor: pointer;
}

.dark {
  background-color: #273746;
}

.dark .section-task {
  color: aliceblue;
}

.dark .section-task-h4 {
  color: black;
}

.dark #dark-mode .fa-moon {
  color: var(--white);
}

#light-mode .fa-sun {
  color: #f1c40f;
}

/* .dark #dark-mode .fa-moon {
  color: aliceblue;
} */
